{% extends "layout.html" %}

{% block title %} login {% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <div class="mb-3">
            <label for="dealer">Which dealer are you?</label>
            <div class="mb-3">
                <span>Seller </span>
                <input type="checkbox" id="seller" name="dealer" value="seller" onclick="toggleCheckBoxes(this)">
            </div>
            <div class="mb-3">
                <span>Buyer </span>
                <input type="checkbox" id="buyer" name="dealer" value="buyer" onclick="toggleCheckBoxes(this)">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <script>
        function toggleCheckBoxes(clickedCheckbox) {
            let seller = document.getElementById('seller');
            let buyer = document.getElementById('buyer');

            if (clickedCheckbox === seller && seller.checked) {
                buyer.checked = false;
            }
            else if (clickedCheckbox === buyer && buyer.checked) {
                seller.checked = false;
            }
        }
    </script>
{% endblock %}
